/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../font/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../font/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../font/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../font/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../font/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../font/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }
  body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746; 
  }
  img{
      max-width: 100%;
      height: auto;
  }
  .wrapper{
      max-width: 1060px;
      margin: 0 auto;
  }
  .wrapper_full{
    max-width: 1262px;
    margin: 0 auto;
  }

  .section-title{
    font-size: 35px;
    line-height: 42px;
    position: relative;
  }
  .section-title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    margin-top: 10px;
  }
  /*header styles start*/
  .header{
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100;
  }
  .header_wrapper{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      padding-top: 56px;
  }
  .header_list{
      display: flex;
      flex-wrap: wrap;
  }
  .header_item{
      margin-right: 82px;
  }
  .header_item:last-child{
      margin-right: 0em;
  }
  .header_link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
  }
  .header_link:hover,  .header_link:focus,  .header_link::after{
      opacity: .75;
  }
  /*header styles end*/

  /*intro styles start*/

.intro{
    min-height: 100vh;
    background: url(../img/Hero.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;

}
.intro_title{
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 619px;
    margin-bottom: 22px;
}
.intro_subtitle{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 546px;
    margin-bottom: 59px;
}
.search-form_info{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 401px;
}
.search-form_inp{
    background: transparent url(../img/svg/Oval.svg) no-repeat left 7px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    font-size: 18px;
    color: white;
    line-height: 24px;
    padding-left: 43px;
    padding-bottom: 22px;
    margin-right: 61px;
    width: 297px;
}
.search-form_inp::placeholder{
    color: white;   
}
.search-form_sub{
    text-transform: uppercase;
    padding: 15px 39px;
    background: #1B7DFF;
    font-size: 24px;
    line-height: 29px;
    color: white;
    border: none;
}
.search-form_sub:hover, .search-form_sub:active, .search-form_sub:focus{
    opacity: .8;
}
  /*intro styles end*/

/*benefits styles start*/
.benefits{
    margin-bottom: 131px;
}
.wrapper_benefit{
    background: #FFF;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    margin: 0 auto;
    max-width: 1262px;
    position: relative;
}
.benefits_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*кол-во колонок*/
    grid-column-gap: 55px;/*отступ между колонками*/
    padding: 0 100px;
}
.benefits-card{
    grid-column: span 1;
    margin-bottom: 112px;
}
.benefit_title{
    width: 100%;
    background: #fff;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
}
.benefits-card_pic{
    max-width: 66px;
    margin-bottom: 37px;
}
.benefits-card_thumb{
    display: block;
}
.benefit-card_title{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
    color: #000;
}
.ben-card-desc{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 39px;
    color: #000;
}
.ben-card_more{
  color: #006DFE; 
  display: inline-block;
  padding-right: 59px;
  background: url(../img/svg/Shape.svg)no-repeat 95% center;
  transition: .2s all;
  font-size: 18px;
  line-height: 24px; 
  text-decoration: none;
}
.ben-card_more:hover, .ben-card_more::after, .ben-card_more:focus{
    background: url(../img/svg/Shape.svg)no-repeat 100% center;
}
/*benefits styles end*/

/*Places style start*/
.places{
    margin-bottom: 131px;
}
.places_title{
    margin-right: 15px;
}
.places_caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}
.places_cards{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
}
.places-card{
    position: relative;
    overflow: hidden;
}
.places-card::after{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 24, 36, 0.4);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: block;
    content: '';
}
.places_card_size_lg{
    grid-column: span 3;
}
.places_card_size_sm{
    grid-column: span 2;
}
.pl_cr_pic{
    height: 354px;
    width: 100%;
    object-fit: cover;
    transition: 1s all;
}
.pl_cr_pic-sm{
    height: 283px;
    width: 100%;
    object-fit: cover;
    transition: 1.5s all;
}
.places-card:hover .pl_cr_pic{
    transform: scale(1.05);
}
.places-card:hover .pl_cr_pic-sm{
    transform: scale(1.05);
}
.place_card-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}
.pl-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
/*Places style end-*/
/*Sight style start*/
.sight{
    margin-bottom: 107px;
}
.sight_info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-wrap: wrap;
    margin-bottom: 103px;
    grid-gap: 108px;
}
.sight_pic-full{
    width: 597px;
    height: 354px;
    object-fit: cover;
}
   
.subtitle-sight{
    width: 519px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}
.sight-title{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
    margin-top: 26px;
}
.subtitle-sight-two{
    width: 519px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 94px;
}

.sight-title-two{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 45px;
    margin-top: 26px;
}
.sight-link{
    margin-left: 1px;
}
.sight_paregr{
    margin-left: 47px;
}
/*Sight style end*/

/*Top-Charts style start*/
.top{
    margin-bottom: 86px;
}
.top_title{
    margin-bottom: 64px;
}
.top-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 58px;
}
.top_card-pic{
    position: relative;
}
.top_card-stats{
    position: absolute;
    bottom: 0em;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding: 16px;
}
.top_card-title{
    font-size: 18px;
    line-height: 24px;
}
.top_card-info{
display: flex;
font-size: 16px;
line-height: 24px;
}
.top_card-likes{
    margin-right: 14px;
}
.top_card-likes-value{
    margin-right: 4px;
}
.top_card-comments{
    margin-right: 4px;
}
.top_card-comments-value{
    margin-right: 9px;
}
.top_card-par-info{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
    margin-top: 45px;
}
.top_card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 42px;
    background: #006DFE;

}
.top_card-see-more{
    text-decoration: none;
    color: white;
}
/*Top-Charts style end*/